section.about
  .container
    .row.ab-agile
      .col-md-8.aboutleft
        img.img-responsive(src='/images/events.jpg', alt='')
        br
        .clear
        br
        p.para1
          | Learning new technology isn't easy, but in-person events and hands on examples can make all the difference. The Blockchain Institute will be opening our flagship location in Chicago's Uptown neighborhood in Fall 2018, but until then we're proud to sponsor local events to promote decentralized technology.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Hackathons
        p
          i.fa.fa-check(aria-hidden='true')
          |  Meetups
        p
          i.fa.fa-check(aria-hidden='true')
          |  Course Preparation   
        br
        p.para1.boldItalic
          | The Blockchain Institute is a proud sponsor of educational endeavors such as   
          a.externaLink(href='https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/' target="_blank") The Chicago Bitcoin and Open Blockchain Meetup
          | , 
          a.externaLink(href='http://chicagoblockchainproject.com/voice-of-blockchain/' target="_blank") The Voice of Chicago Conference
          | , and online resources like  
          a.externaLink(href='https://blockchain.wtf/' target="_blank") Blockchain.wtf!

      .col-md-4.aboutright
        section.about.recentEvents
          .container.events
            h1 EVENTS
            br            
            a(href='#', data-toggle='modal', data-target='#{link1}' class="event")
              .row.ab-agile
                .col-md-4.aboutleft.event
                  img.img-events-pic(src='#{image1}', alt='')        

                .col-md-8.aboutright.event
                  h2.events.name
                    | #{name1}
                  p.events.date
                    | #{date1}    
              br
              .clear
            a(href='#', data-toggle='modal', data-target='#{link2}' class="event")
              .row.ab-agile
                .col-md-4.aboutleft.event
                  img.img-events-pic(src='#{image2}', alt='')        

                .col-md-8.aboutright.event
                  h2.events.name
                    | #{name2}
                  p.events.date
                    | #{date2}    
              br
              .clear
            a(href='#', data-toggle='modal', data-target='#{link3}' class="event")
              .row.ab-agile 
                .col-md-4.aboutleft.event
                  img.img-events-pic(src='#{image3}', alt='')        

                .col-md-8.aboutright.event
                  h2.events.name
                    | #{name3}
                  p.events.date
                    | #{date3}    
              br
              .clear                    
            a(href='#', data-toggle='modal', data-target='#{link4}' class="event")
              .row.ab-agile 
                .col-md-4.aboutleft.event
                  img.img-events-pic(src='#{image4}', alt='')        

                .col-md-8.aboutright.event
                  h2.events.name
                    | #{name4}
                  p.events.date
                    | #{date4}    
              br
              .clear                    
            a(href='#', data-toggle='modal', data-target='#{link5}' class="event")
              .row.ab-agile 
                .col-md-4.aboutleft.event
                  img.img-events-pic(src='#{image5}', alt='')        

                .col-md-8.aboutright.event
                  h2.events.name
                    | #{name5}
                  p.events.date
                    | #{date5}     
              br
              .clear                                                                 
            br
            .clear
          // //wthree-mid   
      br
    .clear



  // //wthree-mid      