// /banner
.banner
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    .carousel-inner(role='listbox')
      .carousel-item.active(class="#{home}" style="background:url(images/#{bannerImage}) !important; background-size: cover !important; ")
        .carousel-caption(class="#{home} #{nav}")
          h3
            | #{bannerMsg} 
            b
              span #{bannerFocus}
          span.bannerSubtitle 
            | #{subtitle}
// //banner