// services
section.services
  .container
    .ser_tp
      .container.inside_services
        p.margin
          | #{tile_section_header} 
          br
  .row._tile
      .col-md-4._tile.w3
        a(href="#{tile_1_link}" target="_blank" )
          .inner_grid._tile.w3(style="background-image: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)), url(#{tile_1_image}) !important;     background-size: cover;")
            .centered_Grid
              h3 #{tile_1_header}
              p
                | #{tile_1_subHeader}
      .col-md-4._tile.w3
        a(href="#{tile_2_link}" target="_blank" )
          .inner_grid._tile.w3(style="background-image: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)), url(#{tile_2_image}) !important;     background-size: cover;")
            .centered_Grid
              h3 #{tile_2_header}
              p
                | #{tile_2_subHeader}
      .col-md-4._tile.w3
        a(href="#{tile_3_link}" target="_blank" )
          .inner_grid._tile.w3(style="background-image: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)), url(#{tile_3_image}) !important;     background-size: cover;")
            .centered_Grid
              h3 #{tile_3_header}
              p
                | #{tile_3_subHeader}

// //services