
section.about.recentEvents
  .container.profile
    .row.ab-agile
      .col-md-4.aboutleft.event
        img.img-profile-pic(src='#{image1}', alt='')        

      .col-md-6.aboutright.event
        h2.profile
          | #{name1}
        br
        h3.profile
          | #{title1}
        hr
        p.para1
          | #{description1}
        p.para1
          | #{date1}    
    br
    .clear
    .row.ab-agile
      .col-md-4.aboutleft.event
        img.img-profile-pic(src='#{image2}', alt='')        

      .col-md-6.aboutright.event
        h2.profile
          | #{name2}
        br
        h3.profile
          | #{title2}
        hr
        p.para1
          | #{description2}
        p.para1
          | #{date2}    
    br
    .clear
    .row.ab-agile
      .col-md-4.aboutleft.event
        img.img-profile-pic(src='#{image3}', alt='')        

      .col-md-6.aboutright.event
        h2.profile
          | #{name3}
        br
        h3.profile
          | #{title3}
        hr
        p.para1
          | #{description3}
        p.para1
          | #{date3}          
    br
    .clear
  // //wthree-mid      